<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--
	<add pattern="MEDIA" tab="MEDIA" text="[[MEDIA]]" control="Tag_Media.ascx"/>
	<add pattern="FLASH" tab="FLASH" text="[[FLASH]]" control="Tag_Flash.ascx"/>
	<add pattern="OBJECT|FLASH|MEDIA" tab="OBJECT" text="[[OLEOBJECT]]" control="Tag_Object.ascx"/>
	
	-->
	<add pattern="FORM" tab="FORM" text="[[InsertForm]]" control="Tag_Form.ascx" />
	<add pattern="SELECT" tab="SELECT" text="[[ListBox]]" control="Tag_Select.ascx" />
	<add pattern="TextArea" tab="TextBox" text="[[TextBox]]" control="Tag_TextArea.ascx" />
	<add pattern="INPUT" tab="INPUT" text="[[INPUT]]" control="Tag_Input.ascx" />
	<add pattern="A" tab="A" text="[[LINK]]" control="Tag_A.ascx" />
	<add pattern="HR" tab="HR" text="HR" control="Tag_HR.ascx" />
	<add pattern="TABLE,InsertTable" tab="InsertTable" text="[[Table Wizard]]" control="Tag_InsertTable.ascx" />
	<add pattern="TABLE,InsertTable" tab="TABLE" text="[[Table]]" control="Tag_Table.ascx" />
	<add pattern="IMG" tab="IMG" text="[[Image]]" control="Tag_Image.ascx" />
	<add pattern="TR" tab="TR" text="[[TR]]" control="Tag_TR.ascx" />
	<add pattern="DIV" tab="DIV" text="DIV" control="Tag_DIV.ascx" />
	<add pattern="TD" tab="TD" text="[[TD]]" control="Tag_TD.ascx" />
	<add pattern="LI" tab="LI" text="LI" control="Tag_LI.ascx" />
	<add pattern="UL" tab="UL" text="UL" control="Tag_LI.ascx" />
	<add pattern="OL" tab="OL" text="OL" control="Tag_LI.ascx" />
	<add pattern="*" tab="Common" text="[[Common]]" control="Tag_Common.ascx" />
	<add pattern="*" tab="Style" text="[[StyleBuilder]]" control="Tag_Style.ascx" />
</configuration>