
SET NOCOUNT ON
GO

USE master
GO
if exists (select * from sysdatabases where name='news1630312')
		drop database news1630312
go

DECLARE @device_directory NVARCHAR(520)
SELECT @device_directory = SUBSTRING(filename, 1, CHARINDEX(N'master.mdf', LOWER(filename)) - 1)
FROM master.dbo.sysaltfiles WHERE dbid = 1 AND fileid = 1

EXECUTE (N'CREATE DATABASE news1630312
  ON PRIMARY (NAME = N''news1630312'', FILENAME = N''' + @device_directory + N'news1630312.mdf'')
  LOG ON (NAME = N''news1630312_log'',  FILENAME = N''' + @device_directory + N'news1630312.ldf'')')
go

exec sp_dboption 'news1630312','trunc. log on chkpt.','true'
exec sp_dboption 'news1630312','select into/bulkcopy','true'
GO

set quoted_identifier on
GO
USE [news1630312]
GO
/****** Object:  Table [dbo].[users]    Script Date: 03/11/2015 09:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [news1630312].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [news1630312]
GO
/****** Object:  Table [dbo].[users]    Script Date: 06/15/2018 15:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](10) NULL,
	[password] [nvarchar](10) NULL,
	[sex] [nvarchar](2) NULL,
	[email] [nvarchar](50) NULL,
	[phone] [nvarchar](20) NULL,
	[birthday] [datetime] NULL,
	[introduce] [nvarchar](max) NULL,
	[region] [nvarchar](50) NULL,
	[grouping] [nvarchar](50) NULL,
	[picture] [nvarchar](50) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[users] ON
INSERT [dbo].[users] ([userid], [username], [password], [sex], [email], [phone], [birthday], [introduce], [region], [grouping], [picture]) VALUES (1, N'admin', N'123456', N'女', N'aa@163.com', N'159149', CAST(0x00008AEC00000000 AS DateTime), N'数学老师写下一句话，“我爱你”，要求改成逆否命题。我们都说，“你不爱我”“不是的”老师说。他先把它变成了这种形式，“如果有一个人是我，那么这个人爱你。” 老师接着开始改逆否命题了。最后一刻，他停笔的瞬间，教室很安静。“如果一个人不爱你，那么，这个人，不是我”', N'广东省广州市', N'注册会员', N'~/HouTai/images/face1.jpg')
INSERT [dbo].[users] ([userid], [username], [password], [sex], [email], [phone], [birthday], [introduce], [region], [grouping], [picture]) VALUES (2, N'1630312', N'123456', N'男', N'bb@qq.com', N'67410', CAST(0x00008C5900000000 AS DateTime), N'她的瞳孔里有五月的风', N'广东省广州市', N'中级会员', N'~/HouTai/images/face2.jpg')
INSERT [dbo].[users] ([userid], [username], [password], [sex], [email], [phone], [birthday], [introduce], [region], [grouping], [picture]) VALUES (3, N'郭俊权', N'123456', N'男', N'aa@163.com', N'159149', CAST(0x00008DC600000000 AS DateTime), N'“失眠的人无非两种，一是手里拿着手机，二是脑子里有个剧场。” ​ ​​​晚安', N'广东省广州市', N'高级会员', N'~/HouTai/images/userface1.jpg')
SET IDENTITY_INSERT [dbo].[users] OFF
/****** Object:  Table [dbo].[type]    Script Date: 06/15/2018 15:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type](
	[typeid] [int] IDENTITY(1,1) NOT NULL,
	[typename] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_type] PRIMARY KEY CLUSTERED 
(
	[typeid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[type] ON
INSERT [dbo].[type] ([typeid], [typename]) VALUES (1, N'网站首页')
INSERT [dbo].[type] ([typeid], [typename]) VALUES (2, N'大学四年')
INSERT [dbo].[type] ([typeid], [typename]) VALUES (3, N'校园生活')
SET IDENTITY_INSERT [dbo].[type] OFF
/****** Object:  Table [dbo].[manage]    Script Date: 06/15/2018 15:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manage](
	[manageid] [int] NOT NULL,
	[managename] [nvarchar](10) NULL,
	[managepassword] [nvarchar](20) NULL,
	[sex] [nvarchar](4) NULL,
	[phone] [nvarchar](20) NULL,
	[birthday] [date] NULL,
	[introduce] [nvarchar](max) NULL,
	[region] [nvarchar](50) NULL,
	[picture] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[managegroup] [nvarchar](50) NULL,
 CONSTRAINT [PK_manage] PRIMARY KEY CLUSTERED 
(
	[manageid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[manage] ([manageid], [managename], [managepassword], [sex], [phone], [birthday], [introduce], [region], [picture], [email], [managegroup]) VALUES (1, N'admin', N'123456', N'女', N'12345678910', CAST(0xE3220B00 AS Date), N'数学老师写下一句话，“我爱你”，要求改成逆否命题。我们都说，“你不爱我”“不是的”老师说。他先把它变成了这种形式，“如果有一个人是我，那么这个人爱你。” 老师接着开始改逆否命题了。最后一刻，他停笔的瞬间，教室很安静。“如果一个人不爱你，那么，这个人，不是我”', N'广东省广州市', N'~/HouTai/images/face1.jpg', N'20180523@163.com', N'超级管理员')
INSERT [dbo].[manage] ([manageid], [managename], [managepassword], [sex], [phone], [birthday], [introduce], [region], [picture], [email], [managegroup]) VALUES (2, N'郭俊权', N'1630312', N'男', N'13141630312', CAST(0x433E0B00 AS Date), N'数学老师写下一句话，“我爱你”，要求改成逆否命题。我们都说，“你不爱我”“不是的”老师说。他先把它变成了这种形式，“如果有一个人是我，那么这个人爱你。” 老师接着开始改逆否命题了。最后一刻，他停笔的瞬间，教室很安静。“如果一个人不爱你，那么，这个人，不是我”', N'广东省汕尾市', N'~/HouTai/images/face2.jpg', N'1630312@qq.com', N'超级管理员')
/****** Object:  Table [dbo].[files]    Script Date: 06/15/2018 15:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[files](
	[fileid] [int] IDENTITY(1,1) NOT NULL,
	[filename] [nvarchar](50) NULL,
	[typeid] [int] NULL,
	[filecontent] [nvarchar](max) NULL,
	[source] [nvarchar](50) NULL,
	[publishdate] [datetime] NULL,
	[visitnum] [int] NULL,
	[redact] [nvarchar](10) NULL,
	[abstract] [nvarchar](max) NULL,
	[keyword] [nchar](50) NULL,
	[pic] [nvarchar](50) NULL,
 CONSTRAINT [PK_files] PRIMARY KEY CLUSTERED 
(
	[fileid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[files] ON
INSERT [dbo].[files] ([fileid], [filename], [typeid], [filecontent], [source], [publishdate], [visitnum], [redact], [abstract], [keyword], [pic]) VALUES (2, N'女生，你为什么不沉住气奋斗！59259', 1, N'在过去的几年中，教育技术已经并将继续在许多方面重塑教学方式。从数字教科书到STEM学科教学平台，到可用于测评和预测学生成绩的深层数据分析工具，教育技术解决了学校教育中的许多问题。', N'腾讯新闻', CAST(0x0000A8D200000000 AS DateTime), 123, N'admin', N'女生，你为什么不沉住气奋斗！在大学，我们可以经常看到打扮时尚、艳丽的女大学生，她们是很漂亮，也很吸引人；我也经常看到许多女生结伴去k歌、购物、疯狂玩耍；我更经常看到不少情侣聚集情人坡谈笑风生。这样看起来美好的一幕幕着实令人艳羡，但我却不希望...', N'广东高考                                              ', N'~/images/index002.jpg')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[files] OFF
/****** Object:  Table [dbo].[pinglun]    Script Date: 06/15/2018 15:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pinglun](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fileid] [int] NOT NULL,
	[comment] [nvarchar](140) NULL,
	[publishdate] [datetime] NULL,
	[username] [nvarchar](10) NULL,
	[dianzan] [int] NULL,
 CONSTRAINT [PK_pinglun] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[pinglun] ON
INSERT [dbo].[pinglun] ([id], [fileid], [comment], [publishdate], [username], [dianzan]) VALUES (1, 1, N'值得阅读', CAST(0x0000A8D700000000 AS DateTime), N'admin', 150)
INSERT [dbo].[pinglun] ([id], [fileid], [comment], [publishdate], [username], [dianzan]) VALUES (2, 1, N'一般般吧，不是很好', CAST(0x0000A8D800000000 AS DateTime), N'1630312', 110)
INSERT [dbo].[pinglun] ([id], [fileid], [comment], [publishdate], [username], [dianzan]) VALUES (3, 1, N'太好了，又放假了', CAST(0x0000A8D800000000 AS DateTime), N'郭俊权', 120)
SET IDENTITY_INSERT [dbo].[pinglun] OFF
/****** Object:  ForeignKey [FK_type_type]    Script Date: 06/15/2018 15:44:51 ******/
ALTER TABLE [dbo].[type]  WITH CHECK ADD  CONSTRAINT [FK_type_type] FOREIGN KEY([typeid])
REFERENCES [dbo].[type] ([typeid])
GO
ALTER TABLE [dbo].[type] CHECK CONSTRAINT [FK_type_type]
GO
/****** Object:  ForeignKey [FK_type_files]    Script Date: 06/15/2018 15:44:51 ******/
ALTER TABLE [dbo].[files]  WITH CHECK ADD  CONSTRAINT [FK_type_files] FOREIGN KEY([typeid])
REFERENCES [dbo].[type] ([typeid])
GO
ALTER TABLE [dbo].[files] CHECK CONSTRAINT [FK_type_files]
GO
/****** Object:  ForeignKey [FK_pinglun_files]    Script Date: 06/15/2018 15:44:51 ******/
ALTER TABLE [dbo].[pinglun]  WITH CHECK ADD  CONSTRAINT [FK_pinglun_files] FOREIGN KEY([fileid])
REFERENCES [dbo].[files] ([fileid])
GO
ALTER TABLE [dbo].[pinglun] CHECK CONSTRAINT [FK_pinglun_files]
GO
