<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<treedropdowns>
		<LinkTree>
			<item text="Msdn.microsoft.com" Selectable="False">
				<html><![CDATA[Msdn.microsoft.com <img border=0 align='absMiddle' src='http://cutesoft.net/data/msdn16.gif' />]]></html>
				<item text=".NET Framework" value="http://msdn.microsoft.com/netframework/">
					<html><![CDATA[.NET Framework]]></html>
				</item>
				<item text="ASP.NET Home" value="http://msdn.microsoft.com/asp.net/">
					<html><![CDATA[ASP.NET Home]]></html>
				</item>
			</item>
			<item text="Yahoo.com" Selectable="False">
				<html><![CDATA[Yahoo.com <img border=0 align='absMiddle' src='http://cutesoft.net/data/yahoo.gif' /> ]]></html>
				<item text="Yahoo Web" value="http://www.yahoo.com/">
					<html><![CDATA[Yahoo Web ]]></html>
				</item>
			</item>
			<item text="CuteSoft Products" Selectable="False">
				<html><![CDATA[CuteSoft Products <img border=0 align='absMiddle' src='http://cutesoft.net/data/cutesoft.gif' /> ]]></html>
				<item text="Cute Chat" value="http://cutesoft.net/ASP.NET+Chat/default.aspx">
					<html><![CDATA[Cute Chat]]></html>
				</item>
			</item>
		</LinkTree>
	</treedropdowns>
	<dropdowns>
		<CssClass>
			<item text="[[NotSet]]" value="null"></item>
			<item text="Red Text" value="RedColor">
				<html><![CDATA[<span style='color:red'>RedColor</span>]]></html>
			</item>
			<item text="textbold" value="textbold">
				<html><![CDATA[<span class='textbold'>textbold</span>]]></html>
			</item>
			<item text="Highlight" value="Highlight">
				<html><![CDATA[<span style='background-color: yellow'>Highlight</span>]]></html>
			</item>
			<item text="Bold Green Text" value="BoldGreen">
				<html><![CDATA[<span style='color: green; font-weight: bold;'>Bold Green Text</span>]]></html>
			</item>
		</CssClass>
		<CssStyle>
			<item text="[[NotSet]]" value="null"></item>
			<item text="font-size:18pt" value="font-size:18pt"></item>
			<item text="color:red" value="color:red"></item>
			<item text="border:1px red solid" value="border:1px red solid"></item>
			<!--<item text="filter:alpha(opacity=20)">filter:alpha(opacity=20)</item> -->
		</CssStyle>
		<Codes>
			<item text="Email signature">
				<value><![CDATA[<span style="font-family: Courier New, Courier">                ''~``<br />                        ( o o )<br />+------------------.oooO--(_)--Oooo.---------------------+<br />| John Smith                                             |<br />|                       E-mail: <a href="mailto:fake-company@server.com">fake-company@server.com</a>  |<br />| Fake Company          <a href="http://www.fake-company.com/">http://www.fake-company.com/</a>     |<br />| Ottawa, Canada     (   )                               |<br />+---------------------\ (----(   )-----------------------+<br />                       \_)    ) /<br />                             (_/</span>]]></value>
				<html><![CDATA[<img border=0 align='absMiddle' src='http://cutesoft.net/data/signature.gif' /> Email signature]]></html>
			</item>
			<item text="Contact us">
				<value><![CDATA[<div>Your satisfaction is necessary to our success. Our goal is to provide you with the best level of customer service, and we welcome your comments and suggestions<br /><br /><strong>Email:</strong><br /><br />Sales: 
						<a href="mailto:sales@CuteSoft.Net">sales@CuteSoft.Net</a>
					 <br /><br />General: <a href="mailto:info@CuteSoft.Net">info@CuteSoft.Net</a><br /><br />Support: <a href="mailto:support@CuteSoft.Net">support@CuteSoft.Net </a><br /><br /></div>]]></value>
				<html><![CDATA[<img border=0 align='absMiddle' src='http://cutesoft.net/data/contact.gif' /> Contact us]]></html>
			</item>
		</Codes>
		<Links>
			<item text="CuteSoft" value="http://cutesoft.net/">
				<html><![CDATA[<img border=0 align='absMiddle' src='http://cutesoft.net/data/signature.gif' /> CuteSoft]]></html>
			</item>
			<item text="Mail to us" value="mailto:support@CuteSoft.Net">
				<html><![CDATA[<img border=0 align='absMiddle' src='http://cutesoft.net/data/email.gif' /> Mail to us]]></html>
			</item>
			<item text="Yahoo.com" value="http://www.yahoo.com/">
				<html><![CDATA[<img border=0 align='absMiddle' src='http://cutesoft.net/data/yahoo.gif' /> Yahoo.com]]></html>
			</item>
			<item text="Google.com" value="http://www.google.com">
				<html><![CDATA[<img border=0 align='absMiddle' src='http://cutesoft.net/data/Google.gif' /> Google.com]]></html>
			</item>
			<item text="MSDN" value="http://msdn.com/">
				<html><![CDATA[<img border=0 align='absMiddle' src='http://cutesoft.net/data/msdn16.png' /> MSDN]]></html>
			</item>
		</Links>
		<Images>
			<item text="Logo">
				<value><![CDATA[<img border="0" src="http://www.cutesoft.net/images/logo.gif" />]]></value>
				<html><![CDATA[<img border=0 align='absMiddle' src='http://cutesoft.net/data/logo_s.gif' /> Company logo]]></html>
			</item>
			<item text="Flower">
				<value><![CDATA[<img border="0" src="http://cutesoft.net/data/j0313820.jpg" />]]></value>
				<html><![CDATA[<img border=0 align='absMiddle' src='http://cutesoft.net/data/flower_s.gif' /> Flower]]></html>
			</item>
		</Images>
		<DropForeColor>
			<item text="[[NotSet]]" value="null"></item>
			<item text="Black" color="Black" value="Black"></item>
			<item text="Red" color="Red" value="Red"></item>
		</DropForeColor>
		<DropBackColor>
			<item text="[[NotSet]]" value="null"></item>
			<item text="White" bgColor="White" value="White"></item>
			<item text="Red" bgColor="Red" value="Red"></item>
		</DropBackColor>
		<Zoom>
			<item text="400%" value="400"></item>
			<item text="300%" value="300"></item>
			<item text="200%" value="200"></item>
			<item text="100%" value="100"></item>
			<item text="80%" value="80"></item>
			<item text="75%" value="75"></item>
			<item text="66%" value="66"></item>
			<item text="50%" value="50"></item>
			<item text="33%" value="33"></item>
			<item text="25%" value="25"></item>
		</Zoom>
		<FormatBlock>
			<item text="[[DIV]]" value="&lt;DIV&gt;">
				<html><![CDATA[[[DIV]]]]></html>
			</item>
			<item text="[[Normal]]" value="&lt;P&gt;">
				<html><![CDATA[[[Normal]]]]></html>
			</item>
			<item text="[[Heading 1]]" value="&lt;H1&gt;">
				<html><![CDATA[<b style='font-size:24pt'>[[Heading 1]]</b>]]></html>
			</item>
			<item text="[[Heading 2]]" value="&lt;H2&gt;">
				<html><![CDATA[<b style='font-size:18pt'>[[Heading 2]]</b>]]></html>
			</item>
			<item text="[[Heading 3]]" value="&lt;H3&gt;">
				<html><![CDATA[<b style='font-size:15pt'>[[Heading 3]]</b>]]></html>
			</item>
			<item text="[[Heading 4]]" value="&lt;H4&gt;">
				<html><![CDATA[<b style='font-size:12pt'>[[Heading 4]]</b>]]></html>
			</item>
			<item text="[[Heading 5]]" value="&lt;H5&gt;">
				<html><![CDATA[<b style='font-size:9pt'>[[Heading 5]]</b>]]></html>
			</item>
			<item text="[[Heading 6]]" value="&lt;H6&gt;">
				<html><![CDATA[<b style='font-size:7pt'>[[Heading 6]]</b>]]></html>
			</item>
			<item text="[[Address]]" value="&lt;Address&gt;">
				<html><![CDATA[[[Address]]]]></html>
			</item>
			<item text="[[MenuList]]" value="&lt;MENU&gt;">
				<html><![CDATA[[[MenuList]]]]></html>
			</item>
			<item text="[[Formatted]]" value="&lt;PRE&gt;">
				<html><![CDATA[[[Formatted]]]]></html>
			</item>
			<item text="[[Definition Term]]" value="&lt;DT&gt;">
				<html><![CDATA[[[Definition Term]]]]></html>
			</item>
		</FormatBlock>
		<FontName>
			<item text="Arial" html="&lt;font size=3 face='Arial'&gt;Arial&lt;/font&gt;">Arial</item>
			<item text="Verdana" html="&lt;font size=3 face='Verdana'&gt;Verdana&lt;/font&gt;">Verdana</item>
			<item text="Comic Sans MS" html="&lt;font size=3 face='Comic Sans MS'&gt;Comic Sans MS&lt;/font&gt;">Comic Sans MS</item>
			<item text="Courier" html="&lt;font size=3 face='Courier'&gt;Courier&lt;/font&gt;">Courier</item>
			<item text="Georgia" html="&lt;font size=3 face='Georgia'&gt;Georgia&lt;/font&gt;">Georgia</item>
			<item text="Impact" html="&lt;font size=3 face='Arial'&gt;Impact&lt;/font&gt;">Impact</item>
			<item text="Lucida Console" html="&lt;font size=3 face='Lucida Console'&gt;Lucida Console&lt;/font&gt;">Lucida Console</item>
			<item text="Tahoma" html="&lt;font size=3 face='Tahoma'&gt;Tahoma&lt;/font&gt;">Tahoma</item>
			<item text="Times New Roman" html="&lt;font size=3 face='Times New Roman'&gt;Times New Roman&lt;/font&gt;">Times New Roman</item>
			<item text="Wingdings" html="&lt;font size=3 &gt;Wingdings&lt;/font&gt;">Wingdings</item>
		</FontName>
		<FontSize>
			<item text="[[NotSet]]" value="null">
				<html><![CDATA[[[NotSet]]]]></html>
			</item>
			<!-- <item text="9pt" html="&lt;span style='font-size:9pt'&gt;9pt&lt;/span&gt;">9pt</item> -->
			<!-- <item text="12px" html="&lt;span style='font-size:12px'&gt;12px&lt;/span&gt;">12px</item>-->
			<item text="1 (8pt)" value="1">
				<html><![CDATA[<font size='1'>Size 1 </font>(8pt)]]></html>
			</item>
			<item text="2 (10pt)" value="2">
				<html><![CDATA[<font size='2'>Size 2 </font>(10pt)]]></html>
			</item>
			<item text="3 (12pt)" value="3">
				<html><![CDATA[<font size='3'>Size 3 </font>(12pt)]]></html>
			</item>
			<item text="4 (14pt)" value="4">
				<html><![CDATA[<font size='4'>Size 4 </font>(14pt)]]></html>
			</item>
			<item text="5 (18pt)" value="5">
				<html><![CDATA[<font size='5'>Size 5 </font>(18pt)]]></html>
			</item>
			<item text="6 (24pt)" value="6">
				<html><![CDATA[<font size='6'>Size 6 </font>(24pt)]]></html>
			</item>
			<item text="7 (36pt)" value="7">
				<html><![CDATA[<font size='7'>Size 7 </font>(36pt)]]></html>
			</item>
			<!--
			<item text="26px" value="26px">
				<html><![CDATA[<span style='font-size:26px'>26px</span>]]></html>
			</item>
			-->
		</FontSize>
	</dropdowns>
	
	<contextmenus>
		<define name="Undo" text="[[Undo]]" command="Undo" hotkey="CTRL+Z" />
		<define name="Redo" text="[[Redo]]" command="Redo" hotkey="CTRL+Y" />
		<define name="Cut" text="[[Cut]]" command="Cut" hotkey="CTRL+X" />
		<define name="Copy" text="[[Copy]]" command="Copy" hotkey="CTRL+C" />
		<define name="Paste" text="[[Paste]]" command="Paste" hotkey="CTRL+V" />
		<define name="Delete" text="[[Delete]]" command="Delete" hotkey="DELETE" />
		<define name="SelectAll" text="[[SelectAll]]" command="SelectAll" hotkey="CTRL+A" />
		<define name="PasteText" text="[[PasteText]]" command="PasteText" />
		<define name="PasteWord" text="[[PasteWord]]" command="PasteWord" />
		<define name="ToggleBorder" text="[[ToggleBorder]]" command="ToggleBorder" image="borders" />
		<define name="FromFullPage" text="[[FromFullPage]]" command="FullPage" hotkey="F12"
			image="restore" condition="editor.GetFullPage()" />
		<define name="ToFullPage" text="[[ToFullPage]]" command="FullPage" hotkey="F12" image="fit"
			condition="!editor.GetFullPage()" />
		<define name="Bold" text="[[Bold]]" command="Bold" hotkey="Ctrl+B" />
		<define name="Italic" text="[[Italic]]" command="Italic" hotkey="Ctrl+I" />
		<define name="Underline" text="[[Underline]]" command="Underline" hotkey="Ctrl+U" image="under" />
		<define name="StrikeThrough" text="[[StrikeThrough]]" command="StrikeThrough" image="strike" />
		
		<define name="ImageGalleryByBrowsing" command="ImageGalleryByBrowsing" text="[[ImageBrowsing]]"
			image="image" />
		<define name="InsertImage" command="InsertImage" text="[[Image]]" image="eximage" />
		<define name="InsertFlash" command="InsertFlash" text="[[Flash]]" image="flash" />
		<define name="InsertMedia" command="InsertMedia" text="[[Media]]" image="media" />
		<define name="InsertDocument" command="InsertDocument" text="[[Document]]" image="document" />
		<define name="InsertTemplate" command="InsertTemplate" text="[[Template]]" image="template" />
		
		<define name="InsertTable" command="InsertTable" text="[[Table]]" image="instable" />
		<define name="InsertRowTop" command="InsertRowTop" text="[[InsertRowTop]]" image="instable"/>
		<define name="InsertRowBottom" command="InsertRowBottom" text="[[InsertRowBottom]]" image="insrow_b"/>
		<define name="DeleteRow" command="DeleteRow" text="[[DeleteRow]]" image="delrow"/>
		<define name="InsertColumnLeft" command="InsertColumnLeft" text="[[InsertColumnLeft]]" image="inscol_l"/>
		<define name="InsertColumnRight" command="InsertColumnRight" text="[[InsertColumnRight]]" image="inscol_r"/>
		<define name="DeleteColumn" command="DeleteColumn" text="[[DeleteColumn]]" image="delcol"/>
		<define name="InsertCell" command="InsertCell" text="[[InsertCell]]" image="inscell"/>
		<define name="DeleteCell" command="DeleteCell" text="[[DeleteCell]]" image="delcell"/>
		<define name="EditRow" command="EditRow" text="[[EditRow]]" image="row"/>
		<define name="EditCell" command="EditCell" text="[[EditCell]]" image="cell"/>
		<define name="MergeRight" command="MergeRight" text="[[MergeRight]]" image="mrgcell_r"/>
		<define name="MergeBottom" command="MergeBottom" text="[[MergeBottom]]" image="mrgcell_b"/>
		<define name="HorSplitCell" command="HorSplitCell" text="[[HorSplitCell]]" image="spltcell_r"/>
		<define name="VerSplitCell" command="VerSplitCell" text="[[VerSplitCell]]" image="spltcell_b"/>
		
		<define name="InsertHorizontalRule" command="InsertHorizontalRule" text="[[HorRule]]" image="rule" />		
		<define name="InsertFieldSet" command="InsertFieldSet" text="[[InsertFieldSet]]" image="groupbox" />
		<define name="InsertGridLayoutPanel" command="InsertGridLayoutPanel" text="[[GridLayoutPanel]]" image="text" />
		<define name="InsertParagraph" command="InsertParagraph" text="[[Paragraph]]" image="-" hotkey="Ctrl+M" />
		<define name="InsertLineBreak" command="InsertLineBreak" text="[[LineBreak]]" image="-" hotkey="Shift+Enter" />
		<define name="InsertOrderedList" command="InsertOrderedList" text="[[OrderedList]]" image="-" />
		<define name="InsertUnorderedList" command="InsertUnorderedList" text="[[UnorderedList]]" image="-" />
		
		<define name="InsertForm" command="InsertForm" text="[[InsertForm]]" image="form" />
		<define name="InsertInputText" command="InsertInputText" text="[[InsertInputText]]" image="textbox" />
		<define name="InsertTextBox" command="InsertTextBox" text="[[InsertTextBox]]" image="textarea" />
		<define name="InsertRadioBox" command="InsertRadioBox" text="[[InsertRadioBox]]" image="optionbutton" />
		<define name="InsertCheckBox" command="InsertCheckBox" text="[[InsertCheckBox]]" image="checkbox" />
		<define name="InsertListBox" command="InsertListBox" text="[[InsertListBox]]" image="listbox" />
		<define name="InsertDropDown" command="InsertDropDown" text="[[InsertDropDown]]" image="dropdownbox" />
		<define name="InsertInputImage" command="InsertInputImage" text="[[InsertInputImage]]" image="imagebutton" />
		<define name="InsertInputSubmit" command="InsertInputSubmit" text="[[InsertInputSubmit]]" image="submit" />
		<define name="InsertInputReset" command="InsertInputReset" text="[[InsertInputReset]]" image="Reset" />
		<define name="InsertInputPassword" command="InsertInputPassword" text="[[InsertInputPassword]]" image="passwordfield" />
		<define name="InsertInputHidden" command="InsertInputHidden" text="[[InsertInputHidden]]" image="hiddenfield" />
		<define name="InsertInputButton" command="InsertInputButton" text="[[InsertInputButton]]" image="pushbutton" />
		
		
		<define name="Paste" command="Paste" text="[[Paste]]"/>
		<define name="PasteText" command="PasteText" text="[[PasteText]]"/>
		<define name="PasteWord" command="PasteWord" text="[[PasteWord]]"/>
		<define name="PasteAsHTML" command="PasteAsHTML" text="[[PasteAsHTML]]"/>
		

		
		<define name="EditGroup" text="[[Edit]]">
			<subItems>
				<ref name="Undo" />
				<ref name="Redo" />
				<spliter />
				<ref name="SelectAll" />
				<ref name="PasteText" />
				<ref name="PasteWord" />
				<spliter />
				<ref name="ToggleBorder" />
				<ref name="FromFullPage" />
				<ref name="ToFullPage" />
			</subItems>
			<initializer>
			<![CDATA[
			]]>
			</initializer>
		</define>
		
		<define name="FormattingGroup" text="[[Formatting]]">
			<subItems>
				<item name="FormatBlockGroup" text="[[Paragraph]]" dropdown="FormatBlock"/>
				<item name="FontNameGroup" text="[[FontName]]" dropdown="FontName"/>
				<item name="FontSizeGroup" text="[[FontSize]]" dropdown="FontSize"/>
				<ref name="Bold" />
				<ref name="Italic" />
				<ref name="Underline" />
				<ref name="StrikeThrough" />
			</subItems>
		</define>
		<define name="InsertGroup" text="[[Insert]]">
			<subItems>
				<ref name="ImageGalleryByBrowsing" />
				<ref name="InsertImage" />
				<ref name="InsertFlash" />
				<ref name="InsertMedia" />
				<ref name="InsertDocument" />
				<ref name="InsertTemplate" />
				<spliter />
				<ref name="InsertTable" />
				<ref name="InsertHorizontalRule" />
				<spliter />
				<ref name="InsertAdvancedGroup"/>
				<ref name="InsertFormGroup"/>
			</subItems>
		</define>
		<define name="InsertAdvancedGroup" text="[[Advanced]]">
			<subItems>
				<ref name="InsertParagraph" />
				<ref name="InsertLineBreak" />
				<ref name="InsertOrderedList" />
				<ref name="InsertUnorderedList" />
				<ref name="InsertFieldSet" />
				<ref name="InsertGridLayoutPanel" />
			</subItems>
		</define>
		
		<define name="InsertFormGroup" text="[[InsertForm]]">
			<subItems>
				<ref name="InsertForm" />
				<ref name="InsertInputText" />
				<ref name="InsertTextBox" />
				<ref name="InsertRadioBox" />
				<ref name="InsertCheckBox" />
				<ref name="InsertListBox" />
				<ref name="InsertDropDown" />
				<ref name="InsertInputImage" />
				<ref name="InsertInputSubmit" />
				<ref name="InsertInputReset" />
				<ref name="InsertInputPassword" />
				<ref name="InsertInputHidden" />
				<ref name="InsertInputButton" />
			</subItems>
		</define>
				
		<define name="InsertTableGroup" text="[[InsertTable]]">
			<subItems>
				<ref name="InsertTable" />
				<ref name="InsertRowTop" />
				<ref name="InsertRowBottom" />
				<ref name="DeleteRow" />
				<ref name="InsertColumnLeft" />
				<ref name="InsertColumnRight" />
				<ref name="DeleteColumn" />
				<ref name="InsertCell" />
				<ref name="DeleteCell" />
				<ref name="EditRow" />
				<ref name="EditCell" />
				<ref name="MergeRight" />
				<ref name="MergeBottom" />
				<ref name="HorSplitCell" />
				<ref name="VerSplitCell" />
			</subItems>
		</define>
		
		<define name="PasteGroup" text="[[Paste]]">
			<subItems>		
				<ref name="Paste" />
				<ref name="PasteText" />
				<ref name="PasteWord" />
				<ref name="PasteAsHTML" />
			</subItems>
		</define>
	</contextmenus>
</configuration>