.news_search {
    padding: 10px 10px;
}

.news_search .layui-inline {
    margin: 5px 5px 5px 0;
}

.layui-table, .layui-table th {
    text-align: center;
}

.news_list .layui-btn, .news_list .layui-btn + .layui-btn {
    margin: 2px 5px;
}

.news_list .layui-form-switch {
    margin-top: 0;
} 

.news_list tbody tr:first-child th{
    background:#f3f2f0;
}

.news_list tbody tr:not(:first-child) td:nth-child(6){
    text-align:left;
    text-indent:2em;
    padding:10px;
}
.news_list tbody tr:not(:first-child) td:not(:nth-child(6)){
    text-align:center;
}

.news_list tbody tr:hover{
    background:#f2f2f2;
}

.bubufxPagerCss table
{
    text-align:center;
    margin:auto;
}
.bubufxPagerCss table td
{
    border:0px;
    padding:5px;
}
.bubufxPagerCss td
{
    border-bottom: #ffffff 3px solid;
}

.bubufxPagerCss tr td a:hover
{
    background-color: #F90;
    color: #FFF;
}

.bubufxPagerCss a {
    color: #F90;
    text-decoration: none;
    padding: 3px 6px 3px 6px;
    margin: 0 0 0 4px;
    text-align: center;
    border: 1px solid #333;
}

.bubufxPagerCss span {
    color: #F90;
    background-color: #ac1f24;
    padding: 3px 6px 3px 6px;
    margin: 0 0 0 4px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #333;
}

