<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<codeviewToolbars>
		<item type="g_start" />
		<item type="image" name="Save" postback="True" />
		<item type="image" name="Print" />
		<item type="image" name="Find" />
		<item type="image" name="ToFullPage" command="FullPage" imagename="fit" hotkey="F12" />
		<item type="image" name="FromFullPage" command="FullPage" imagename="restore" hotkey="F12" />
		<item type="image" name="Cut" />
		<item type="image" name="Copy" />
		<item type="image" name="Paste" />
		<item type="image" name="SelectAll" hotkey="CTRL+A" />
		<item type="image" name="SelectNone" />
		<item type="g_end" />
	</codeviewToolbars>
	<toolbars>
		<item type="g_start" />
		<item type="image" name="Save" postback="True" />
		<item type="image" name="New" imagename="newdoc" />
		<item type="image" name="Print" />
		<item type="image" name="Preview" imagename="bspreview" />
		<item type="image" name="Find" />
		<item type="image" name="ToFullPage" command="FullPage" imagename="fit" hotkey="F12" />
		<item type="image" name="FromFullPage" command="FullPage" imagename="restore" hotkey="F12" />
		<item type="image" name="CleanCode" imagename="cleanup" />
		<item type="image" name="NetSpell" imagename="spell" />
		<item type="separator" />
		<item type="image" name="Cut" />
		<item type="image" name="Copy" />
		<item type="image" name="Paste" />
		<item type="image" name="PasteText" />
		<item type="image" name="PasteWord" />
		<item type="image" name="PasteAsHTML" />
		<item type="image" name="Delete" />
		<item type="separator" />
		<item type="image" name="Undo" />
		<item type="image" name="Redo" />
		<item type="g_end" />
		<item type="g_start" />
		<item type="image" name="InsertPageBreak" imagename="InsertPageBreak" />
		<item type="image" name="InsertDate" imagename="insertdate" />
		<item type="image" name="InsertTime" imagename="timer" />
		<item type="separator" />
		<item type="image" name="InsertChars" imagename="specialchar" />
		<item type="image" name="InsertEmotion" imagename="emotion" />
		<item type="image" name="UniversalKeyboard" imagename="keyboard" />
		<item type="image" name="BoxFormatting" imagename="box" />
		<item type="image" name="InsertLayer" imagename="layer" />
		<item type="image" name="InsertFieldSet" imagename="groupbox" />
		<item type="separator" />
		<item type="image" name="ImageGalleryByBrowsing" imagename="image" />
		<item type="image" name="InsertImage" imagename="eximage" />
		<item type="image" name="InsertFlash" imagename="flash" />
		<item type="image" name="InsertMedia" imagename="media" />
		<item type="image" name="InsertDocument" imagename="document" />
		<item type="image" name="InsertTemplate" imagename="template" />
		<item type="image" name="YouTube" />
		<item type="g_end" />
		<item type="linebreak" />
		<item type="g_start" />
		<item type="table" />
		<item type="image" name="InsertRowTop" imagename="insrow_t" />
		<item type="image" name="InsertRowBottom" imagename="insrow_b" />
		<item type="image" name="DeleteRow" imagename="delrow" />
		<item type="image" name="InsertColumnLeft" imagename="inscol_l" />
		<item type="image" name="InsertColumnRight" imagename="inscol_r" />
		<item type="image" name="DeleteColumn" imagename="delcol" />
		<item type="image" name="InsertCell" imagename="inscell" />
		<item type="image" name="DeleteCell" imagename="delcell" />
		<item type="image" name="EditRow" imagename="row" />
		<item type="image" name="EditCell" imagename="cell" />
		<item type="image" name="MergeRight" imagename="mrgcell_r" />
		<item type="image" name="MergeBottom" imagename="mrgcell_b" />
		<item type="image" name="HorSplitCell" imagename="spltcell_r" />
		<item type="image" name="VerSplitCell" imagename="spltcell_b" />
		<!-- MergeCell/mrgcell SplitCell/spltcell -->
		<item type="g_end" />
		<item type="g_start" />
		<item type="image" name="Break" />
		<item type="image" name="InsertParagraph" imagename="Paragraph" />
		<item type="image" name="BlockDirLTR" imagename="left_to_right" />
		<item type="image" name="BlockDirRTL" imagename="right_to_left" />
		<item type="g_end" />
		<item type="g_start" />
		<item type="image" name="InsertForm" imagename="Form" />
		<item type="image" name="InsertTextBox" imagename="textarea" />
		<item type="image" name="InsertInputText" imagename="textbox" />
		<item type="image" name="InsertInputPassword" imagename="passwordfield" />
		<item type="image" name="InsertInputhidden" imagename="hiddenfield" />
		<item type="image" name="InsertListBox" imagename="listbox" />
		<item type="image" name="InsertDropDown" imagename="dropdownbox" />
		<item type="image" name="InsertRadioBox" imagename="optionbutton" />
		<item type="image" name="InsertCheckBox" imagename="checkbox" />
		<item type="image" name="InsertInputImage" imagename="imagebutton" />
		<item type="image" name="InsertInputSubmit" imagename="submit" />
		<item type="image" name="InsertInputReset" imagename="Reset" />
		<item type="image" name="InsertInputButton" imagename="pushbutton" />
		<item type="image" name="DocumentPropertyPage" imagename="page" />
		<item type="g_end" />
		<item type="linebreak" />
		<item type="g_start" />
		<item type="image" name="Bold" />
		<item type="image" name="Italic" />
		<item type="image" name="Underline" imagename="under" />
		<item type="image" name="JustifyLeft" imagename="left" />
		<item type="image" name="JustifyCenter" imagename="center" />
		<item type="image" name="JustifyRight" imagename="right" />
		<item type="image" name="JustifyFull" />
		<item type="image" name="JustifyNone" />
		<item type="image" name="RemoveFormat" imagename="unformat" />
		<item type="forecolor" />
		<item type="backcolor" />
		<item type="g_end" />
		<item type="g_start" />
		<item type="image" name="InsertOrderedList" imagename="numlist" />
		<item type="image" name="InsertUnorderedList" imagename="bullist" />
		<item type="image" name="Indent" />
		<item type="image" name="Outdent" />
		<item type="image" name="Superscript" />
		<item type="image" name="Subscript" />
		<item type="image" name="Strikethrough" imagename="strike" />
		<item type="image" name="Ucase" />
		<item type="image" name="Lcase" />
		<item type="g_end" />
		<item type="g_start" />
		<item type="image" name="InsertHorizontalRule" imagename="rule" />
		<item type="image" name="InsertLink" imagename="link" />
		<item type="image" name="Unlink" />
		<item type="image" name="InsertAnchor" imagename="anchor" />
		<item type="image" name="ImageMap" />
		<item type="image" name="AbsolutePosition" imagename="abspos" />
		<item type="image" name="BringForward" imagename="forward" />
		<item type="image" name="BringBackward" imagename="backward" />
		<item type="image" name="ToggleBorder" imagename="borders" />
		<item type="image" name="SelectAll" hotkey="CTRL+A" />
		<item type="image" name="SelectNone" />
		<item type="image" name="SyntaxHighlighter" imagename="code" />
		<item type="image" name="Help" />
		<item type="g_end" />
		<item type="linebreak" />
		<item type="g_start" />
		<item type="dropdown" name="CssClass" width="70" RenderItemBorder="true" text="[[CssClass]]"
			command="CssClass" />
		<item type="dropdown" name="CssStyle" width="70" RenderItemBorder="true" text="[[CssStyle]]"
			command="CssStyle" />
		<item type="dropdown" name="FormatBlock" width="70" RenderItemBorder="true" text="[[Paragraph]]"
			command="FormatBlock" />
		<item type="dropdown" name="FontName" width="110" text="[[FontName]]" command="FontName" />
		<item type="dropdown" name="FontSize" width="60" text="[[FontSize]]" command="FontSize" />
		<item type="g_end" />
		<item type="g_start" />
		<item type="treedropdown" name="LinkTree" text="[[Links]]" width="60" command="InsertLink" />
		<item type="dropdown" name="Codes" width="90" RenderItemBorder="true" text="[[Codes]]" />
		<item type="dropdown" name="Images" width="60" RenderItemBorder="true" text="[[Images]]" />
		<item type="dropdown" name="Zoom" text="[[Zoom]]" width="50" command="Zoom" />
		<item type="g_end" />
		<item type="holder" name="insertcustombutonhere" />
	</toolbars>
</configuration>