<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<codeviewToolbars>
		<item type="g_start" />
		<item type="image" name="Save" postback="True" />
		<item type="image" name="SelectAll" hotkey="CTRL+A" />
		<item type="image" name="SelectNone" />
		<item type="g_end" />
	</codeviewToolbars>
	<toolbars>		
		<item type="g_start" />
		<item type="image" name="Save" postback="True" />
		<item type="image" name="Bold" />
		<item type="image" name="Italic" />
		<item type="image" name="Underline" imagename="under" />
		<item type="image" name="JustifyLeft" imagename="left" />
		<item type="image" name="JustifyCenter" imagename="center" />
		<item type="image" name="JustifyRight" imagename="right" />
		<item type="holder" name="insertcustombutonhere" />
		<item type="g_end" />	
	</toolbars>
</configuration>