<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<security name="RestrictUploadedImageDimension">true</security>
	<security name="OverWriteExistingUploadedFile">false</security>
	<security name="UseTimeStampRenameUploadedFiles">false</security>
	<security name="AutoResizeUploadedImages">true</security>
	<security name="MaxImageWidth">1024</security>
	<security name="MaxImageHeight">768</security>
	<security name="MaxImageSize">200</security>
	<security name="MaxMediaSize">10000</security>
	<security name="MaxFlashSize">3000</security>
	<security name="MaxDocumentSize">10000</security>
	<security name="MaxTemplateSize">1000</security>
	<!-- Image Gallery Dialog -->
	<security name="ImageGalleryPath">~/uploads</security>
	<!-- Insert Image Dialog -->
	<security name="ImageBrowserPath">~/uploads</security>
	<security name="MediaGalleryPath">~/uploads</security>
	<security name="FlashGalleryPath">~/uploads</security>
	<security name="TemplateGalleryPath">~/templates</security>
	<security name="FilesGalleryPath">~/uploads</security>
	<security name="MaxImageFolderSize">102400</security>
	<security name="MaxMediaFolderSize">102400</security>
	<security name="MaxFlashFolderSize">102400</security>
	<security name="MaxDocumentFolderSize">102400</security>
	<security name="MaxTemplateFolderSize">102400</security>
	<security name="ThumbnailWidth">80</security>
	<security name="ThumbnailHeight">80</security>
	<security name="ThumbnailColumns">5</security>
	<security name="ThumbnailRows">3</security>
	<security name="AllowUpload">false</security>
	<security name="AllowModify">false</security>
	<security name="AllowRename">false</security>
	<security name="AllowDelete">false</security>
	<security name="AllowCopy">false</security>
	<security name="AllowMove">false</security> <!-- this is rename too -->
	<security name="AllowCreateFolder">false</security>
	<security name="AllowDeleteFolder">false</security>
	<security name="ImageFilters">
		<item>.jpg</item>
		<item>.jpeg</item>
		<item>.gif</item>
		<item>.png</item>
	</security>
	<security name="MediaFilters">
		<item>.avi</item>
		<item>.mpg</item>
		<item>.mpeg</item>
		<item>.mp3</item>
		<item>.wav</item>
		<item>.wmv</item>
	</security>
	<security name="DocumentFilters">
		<item>.txt</item>
		<item>.doc</item>
		<item>.pdf</item>
		<item>.zip</item>
		<item>.rar</item>
		<item>.avi</item>
		<item>.mpg</item>
		<item>.mpeg</item>
		<item>.mp3</item>
		<item>.wav</item>
		<item>.swf</item>
		<item>.jpg</item>
		<item>.jpeg</item>
		<item>.gif</item>
		<item>.png</item>
		<item>.htm</item>
		<item>.xls</item>
		<item>.html</item>
		<item>.rtf</item>
		<item>.wmv</item>
	</security>	
	<security name="TemplateFilters">
		<item>.txt</item>
		<item>.rtf</item>
		<item>.html</item>
		<item>.htm</item>
		<item>.xml</item>
	</security>
	<security name="filenamePattern">^[a-zA-Z0-9\._\s-]+$</security>
</configuration>