<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--definition see shared/common.config-->
	<contextmenus>
		<ref name="Undo" />
		<spliter />
		<ref name="Cut" />
		<ref name="Copy" />
		<ref name="Paste" />
		<ref name="Delete" />
		<spliter />
		<ref name="SelectAll" />
		<ref name="EditGroup" />
		<ref name="FormattingGroup" />
		<ref name="InsertGroup" />
		<special type="tags"/>
		<special type="verbs"/>
		<special type="relative"/>
		<special type="style" />
		<special type="property" />
	</contextmenus>
</configuration>

